{% load static %}
<!DOCTYPE html>
<html lang="en">
    <head>
		<title>DarishkaAMS</title>
	
		<link rel="shortcut icon" href="{% static 'img/d_logo.png' %}" />
		<link rel="stylesheet" type="text/css" href="{% static 'projects/mystyle.css' %}">

</head>
	
	<body link="whitesmoke" vlink="goldenrod" alink="#ff0000">
		<div>
			<h1 style = "color:goldenrod">Welcome to DarishkaAMS Starting Page! </h1> 
		</div>
<br>
	<a href= "{% url 'index' %}">Go Back to Tasks Lists</a>
	<footer>
		<p> We are doing our best to finish this page </p>
	</footer>
	</body>
	
</html>