<!DOCTYPE html>
{% load static %}
<html lang="en">
    <head>
        <title>Users</title>
        <link rel="shortcut icon" href="{% static 'img/d_logo.png' %}" />
        <style>
			body {
			font-family: "Roboto", Arial, sans-serif;
			font-size: 11px;
			color: whitesmoke;
			text-align: center;
            background-color: rgb(68, 68, 68);
            background-image: url("https://www.hdwallpapers.net/wallpapers/black-waves-wallpaper-for-3840x2160-4k-136-1037.jpg"); 
			}
	</style>
    </head>
    <body>
        {% block body %}
        {% endblock %}
    </body>
</html>