{% extends "projects/layout.html" %}

{% block body%}
<style>
    body {
font-family: "Roboto", Arial, sans-serif;
font-size: 11px;
color: whitesmoke;
text-align: center;
background-color: rgb(68, 68, 68);
    }
</style>
<style>
    body {
background-image: url("https://www.hdwallpapers.net/wallpapers/black-waves-wallpaper-for-3840x2160-4k-136-1037.jpg");  
background-repeat: no-repeat;
background-attachment: fixed;  
background-size: cover;
}
</style>
<h1>Tasks in Progress</h1>
    <ul style = "list-style-type:none">
        {% for task in projects %}
            <li>
                <a href="{% url 'task' task.id %}"> 
                    Task {{ task.id }}: {{ task.starting_point }} to {{ task.goal }}
                </a>
            </li>
        {% endfor %}
    </ul>
{% endblock %}