{% extends "projects/layout.html" %}

{% block body%}
<style>
    body {
    font-family: "Roboto", Arial, sans-serif;
    font-size: 11px;
    color: whitesmoke;
    background-color: rgb(68, 68, 68);
    }
</style>  
<h1>Tasks in Progress</h1>
    
    <ul style="list-style-type:none;">
        {% for task in projects %}
            <li>
                <a href="{% url 'task' task.id %}"> 
                    Task {{ task.id }}: {{ task.starting_point }} to {{ task.goal }}
                </a>
            </li>
        {% endfor %}
    </ul>
{% endblock %}