{% load static %}
<!DOCTYPE html>
<html lang="en">
    <head>
		<title>DarishkaAMS TM</title>
	
		<link rel="shortcut icon" href="{% static 'img/d_logo.png' %}" />
		<link rel="stylesheet" type="text/css" href="{% static 'projects/mystyle.css' %}">

</head>
	
	<body link="whitesmoke" vlink="goldenrod" alink="#ff0000">
		<div>
			<h1 style = "color:goldenrod">Welcome to DarishkaAMS Success Project Manager! </h1> 
		</div>
<br>
        {% block body%}
        {% endblock %}
	
	<div>
		<a href= "{% url 'homepage' %}">Go Back to Home Page</a>
	</div>
	<footer>
		<p> We really appreciate your oppinion, so do not hesitate to contact us <address>Kyiv, Ukraine</address></p>
	</footer>
	</body>
	
</html>