{% extends "projects/layout.html" %}

{% block body%}
<style>
    body {
font-family: "Roboto", Arial, sans-serif;
font-size: 11px;
color: whitesmoke;
text-align: center;
background-color: rgb(68, 68, 68);
    }
</style>
<style>
    body {
background-image: url("https://www.hdwallpapers.net/wallpapers/black-waves-wallpaper-for-3840x2160-4k-136-1037.jpg");  
background-repeat: no-repeat;
background-attachment: fixed;  
background-size: cover;
}
</style>
    <h1>Task {{ task.id }}</h1>
    <ul style ="list-style-type:none;">
        <li> Assign by: {{ task.starting_point }}</li>
        <li> Manage by: {{ task.goal }}</li>
        <br>
        <li> Satisfaction Rate: {{ task.satisfaction_rate }}</li>
    </ul>

    <h2>Team members</h2>
    <ul style ="list-style-type:none;">
        {% for member in members %}
            <li> {{member}} </li>
        {% empty %}
            <li>No Team Members so far</li>
        {% endfor %}
    </ul>

    <h2>Add Team Member</h2>

    <form action="{% url 'join' task.id %}" method="post">
        {% csrf_token %}    
        <select name="member">
            {% for member in non_member %}
                <option value='{{ member.id }}'>{{ member }}</option>
            {% endfor %}
        </select>
        <input type="submit">
    </form>
    <a href= "{% url 'index' %}">Go Back to Tasks Lists</a>
{% endblock %}