{% extends "projects/layout.html" %}

{% block body%}

    <h1 style = "color:goldenrod">Task {{ task.id }}</h1>
    <ul style ="list-style-type:none;">
        <li> Assign by: {{ task.starting_point }}</li>
        <li> Manage by: {{ task.goal }}</li>
        <li> Description: {{ task.name_task }}</li>
        <br>
        <li> Days to Complete: {{ task.days_to_complete }}</li>
    </ul>

    <h2 style = "color:goldenrod">Team members</h2>
    <ul style ="list-style-type:none;">
        {% for member in members %}
            <li> {{member}} </li>
        {% empty %}
            <li>No Team Members so far</li>
        {% endfor %}
    </ul>

    <h2 style = "color:goldenrod">Add Team Member</h2>

    <form action="{% url 'join' task.id %}" method="post">
        {% csrf_token %}    
        <select name="member">
            {% for member in non_member %}
                <option value='{{ member.id }}'>{{ member }}</option>
            {% endfor %}
        </select>
        <input type="submit">
    </form>
    <a href= "{% url 'index' %}">Go Back to Tasks Lists</a>
{% endblock %}